<% layout('layouts/boilerplate') %>

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Oh we have an error :(</h4>
    <p>But, don't worry, i am sure it will be fixed as fast as possible <i class="fas fa-laugh-beam"></i></p>
  </div>