<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>whatsMatter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body>
    <div class="main-wrapper d-flex text-center text-white bg-dark flex-column">
        <nav class="navbar-wrapper navbar sticky-top navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">whatsMatter</a>
                    <div class="navbar-nav ml-auto">
                        <% if(!currentUser){ %>
    <div class="d-flex">
        <a class="nav-link mr-2" href="/login">Login</a>
        <a class="nav-link" href="/register">Register</a>
    </div>
                        <% } else {  %>
        <a class="nav-link" href="/logout">Logout</a>
                        <% } %>
                    </div>
                </div>
        </nav>
    <footer class="mt-auto text-white-50">
        <div class="mb-5">
            <a href="/posts" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">View
                Posts</a>
        </div>
        <p> Photo by Chitbhanu Singh </p>
    </footer>

  </div>
</body>

</html>