body {
    height: 100vh;
    background-color: rgba(0,28,147, 0.9);
    background-position: center;
}

.posts-wrapper{
    background-color: rgba(250, 252, 255, 0.4);
}

.form-wrapper{
    background-color: rgba(250, 252, 255, 0.4);
    max-width: 600px;
}

.navbar-wrapper{
    background-color: rgba(0, 0, 0, 0.4);
}

.footer-wrapper{
    background-color: rgba(0, 0, 0, 0.4);
}

.btn-border{
    border: none
}